<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>12110439959-9i4pgbs7tfm9iat2pr6ojsg187dhptn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12110439959-9i4pgbs7tfm9iat2pr6ojsg187dhptn2</string>
	<key>API_KEY</key>
	<string>AIzaSyCVe-N04EPEKbPtdApC_O-xa6MSVeNR_ck</string>
	<key>GCM_SENDER_ID</key>
	<string>12110439959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JoeyZhou.FirebasePractice</string>
	<key>PROJECT_ID</key>
	<string>databasepractice-5868c</string>
	<key>STORAGE_BUCKET</key>
	<string>databasepractice-5868c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:12110439959:ios:211b57e3c10d7e8e</string>
	<key>DATABASE_URL</key>
	<string>https://databasepractice-5868c.firebaseio.com</string>
</dict>
</plist>